<div *ngIf="product" ng-hide="product == {}">
    <h2>{{isEdit}} Product:</h2>
    <label for="id">Id</label>
    <input type="text" id="id" [(ngModel)]="product.id" placeholder="id"><br/>
    <label for="name">Name</label>
    <input type="text" id="name" [(ngModel)]="product.name" placeholder="name"><br/>
    <label for="price">Price</label>
    <input type="text" id="price" [(ngModel)]="product.price" placeholder="price"><br/>
    <label for="category">Category</label>
    <input type="text" id="category" [(ngModel)]="product.category" placeholder="category">
    <button *ngIf="!isEdit" (click)="add()">Add Product</button>
    <button *ngIf="isEdit" (click)="update()">Update Product</button>
    <button (click)="cancel()">Cancel</button>
</div>
