/* Mixins */
@use 'variables' as *;

// Basic mixins for text styling

@mixin text-main {
    // Main text, <p>
    font-family: $font-main !important;
    font-size: $font-size-base !important;
}

@mixin text-heading {
    // Headings, <h2> - <h6>
    font-family: $font-heading !important;
    font-size: $font-size-heading !important;
    font-weight: $font-weight-semibold !important;
}

@mixin text-title {
    // Titles, <h1>
    font-family: $font-title !important;
    font-size: $font-size-title !important;
    font-weight: $font-weight-bold !important;
    text-transform: uppercase !important;
}

@mixin text-small {
    // Small text, <small>
    font-family: $font-main !important;
    font-size: $font-size-sm !important;
}

@mixin text-large {
    // Larger text, but not headings
    font-family: $font-main !important;
    font-size: $font-size-lg !important;
    font-weight: $font-weight-semibold !important;
    text-transform: uppercase;
}

@mixin text-buttons {
    // Button text
    font-family: $font-main !important;
    font-size: $font-size-base !important;
    font-weight: $font-weight-semibold !important;
}


// Basic mixins for buttons

@mixin button-primary {
    // Main button
    background-color: map-get($map: $theme-colors, $key: 'primary') !important;
    color: map-get($map: $theme-colors, $key: 'white') !important;
    border: none !important;
    border-radius: 0.25rem !important;
    padding: 0.5rem 1rem !important;
    cursor: pointer !important;
    transition: all 0.2s ease-in-out !important;

    &:hover {
        background-color: darken(map-get($map: $theme-colors, $key: 'primary'), 10%) !important;
    }
}

@mixin button-secondary {
    // Secondary button
    background-color: map-get($map: $theme-colors, $key: 'secondary') !important;
    color: map-get($map: $theme-colors, $key: 'white') !important;
    border: none !important;
    border-radius: 0.25rem !important;
    padding: 0.5rem 1rem !important;
    cursor: pointer !important;
    transition: all 0.2s ease-in-out !important;

    &:hover {
        background-color: darken(map-get($map: $theme-colors, $key: 'secondary'), 10%) !important;
    }
}

@mixin button-tertiary {
    // Tertiary button
    background-color: map-get($map: $theme-colors, $key: 'tertiary') !important;
    color: map-get($map: $theme-colors, $key: 'white') !important;
    border: none !important;
    border-radius: 0.25rem !important;
    padding: 0.5rem 1rem !important;
    cursor: pointer !important;
    transition: all 0.2s ease-in-out !important;

    &:hover {
        background-color: darken(map-get($map: $theme-colors, $key: 'tertiary'), 10%) !important;
    }
}

@mixin button-transparent {
    // Transparent button
    background-color: transparent !important;
    color: map-get($map: $theme-colors, $key: 'black') !important;
    border: none !important;
    border-radius: 0.25rem !important;
    padding: 0.5rem 1rem !important;
    cursor: pointer !important;
    transition: all 0.2s ease-in-out !important;

    &:hover {
        color: rgba(map-get($map: $theme-colors, $key: 'tertiary'), 0.9) !important;
    }
}