/* Variables */
// Font imports:
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@400;600;700&family=Roboto&display=swap');

// Fonts
$font-main: 'Open Sans', 'Noto Sans', sans-serif; // Main text, <p>
$font-title: 'Open Sans', 'Roboto', Arial sans-serif; // Titles, <h1>
$font-heading: 'Open Sans', 'Roboto', Arial sans-serif; // Headings, <h2> - <h6>

// Font sizes
$font-size-base: 1rem; // 16px
$font-size-sm: 0.875rem; // 14px
$font-size-lg: 1.125rem; // 18px
$font-size-heading: 1.5rem; // 24px
$font-size-title: 4rem; // 64px

// Font weights
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Colors
$background-color: #0000; // Background color

$theme-colors: (
    'primary': #005DA8,
    'secondary': #D9282F,
    'tertiary': #82AEB1,
    'light': #7A7A7A,
    'dark': #545960,
    'success': #88EF96,
    'danger': #EF4646,
    'white': #FFF,
    'black': #4E4E4E,
);