<div>
    <h2>Products:</h2>
    <button (click)="addProduct()">Add Product</button>
    <button [hidden]="selectedProducts.length === 0" (click)="deleteProduct(selectedProducts)">Delete {{selectedProducts.length >= 2 ? "Products" : "Product"}}</button>
    <app-product-details [hidden]="!formVisible" [product]="activeEditProduct" [isEdit]=isEdit (addProduct)="postProduct($event)" (editProduct)="putProduct($event)" (cancelEdit)="cancelEdit()"></app-product-details>
    <app-product *ngFor="let product of products" [product] ="product" (edit)="editProduct(product)" (toggleSelect)="selectedProducts.push($event)"></app-product>
</div>
