<div>
    <!-- <input type="checkbox" (change)="toggleProductSelect()" [checked]="false"> -->
    <mat-checkbox (change)="toggleProductSelect()" [checked]="false"></mat-checkbox>
    <p>{{product.Id}}</p>
    <p>{{product.Name.split(' ')[1]}}</p>
    <p>{{product.Price}}</p>
    <p>{{product.Category}}</p>
    <span class="actions">
        <button (click)="editProduct()" aria-label="editProduct">
            <mat-icon class="material-symbols-rounded" fontIcon="edit_square"></mat-icon>
        </button>
    </span>
</div>