/* Product Component */
@use 'src/styles/variables.scss' as *;

div {
    border: solid 1px #ccc;
    border-radius: 2px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;

    span {
        display: flex;
        width: 100px;
        justify-content: space-between;
    }

    .material-symbols-rounded {
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 200,
            'opsz' 48
    }
}